<div class="card" data-id="<%= portfo.id %>">
  <%= image_tag(portfo.thumb_image_url) if portfo.thumb_image_url %>
  <p class="card-text">
    <span><%= link_to portfo.title, portfo_path(portfo) %></span> <%= portfo.subtitle %>
  </p>
</div>