<div class="col-md-4">   
  <div class="card" data-id="<%= portfo.id %>">
  
   <%= image_tag portfolio_img(portfo.thumb_image_url, 'thumb') %>
  
   <p class="card-text">
    

   <span><%= link_to portfo.title, portfo_show_path(portfo) %></span> <%= portfo.subtitle %>
  
   </p>
  </div>
</div>