<div class="album text-muted">
  <div class="container">
    <%= source_helper("alert alert-warning") %>
    <div class="row <%= "sortable" if logged_in?(:site_admin)%>">
      <%= render partial: 'portfo', collection: @portfo %>
    </div>
  </div>
</div>